/* style.css */

html { 
  height: 100%; 
}
body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

/* Map */
#map-canvas { 
  height: 100%;
  width: 100%;
}

#map-canvas img {
  max-width: none;
  width: auto; 
  display: inline;
}

#map-canvas .message {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -1em;
}

#map-canvas .has-js,
.js #map-canvas .no-js {
  display: none;
}

.js #map-canvas .has-js {
  display: block;
}