{{{navigation}}}

<div class="container">

  <br />

  <ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="/routes">Routes</a> <span class="divider">/</span></li>
    <li><a href="/routes/view/{{route.id}}">{{route.title}}</a> <span class="divider">/</span></li>
    <li class="active">Photo gallery</li>
  </ul>

    <ul class="well pull-right nav nav-list" style="margin:0;width:200px">
      <li><a href="{{urls.overview}}">Overview</a></li>
      <li><a href="{{urls.map}}">View on map</a></li>
      <li><a href="{{urls.gallery}}">View photo gallery</a></li>
      <li><a href="{{urls.share}}">Share route</a></li>
      <!-- <li><a href="#">Fork this route</a></li> -->
    </ul>

  <h3>Route overview</h3>
  <ul>
    <li><strong>Title:</strong> {{route.title}}</li>
    <li><strong>Author:</strong> <a href="/users/1/profile">{{route.user.name}}</a></li>
    <li><strong>Description:</strong> {{route.description}}</li>
  </ul>

  <hr />
</div>