{{{navigation}}}

<div class="container routes">

  <br />

  <ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="/routes">Routes</a> <span class="divider">/</span></li>
    <li class="active">Viewing route</li>
  </ul>

  <div class="row-fluid">
    <div class="span8">


      <h3>Route overview</h3>
      <ul>
        <li><strong>Title:</strong> {{route.title}}</li>
        <li><strong>Author:</strong> <a href="/users/1/profile">{{route.user.name}}</a></li>
        <li><strong>Description:</strong> {{route.description}}</li>
      </ul>

      <hr />

      <h3>Locations</h3>
      {{#markers}}
        <h4>{{title}}</h4>
        <p>{{description}}</p>
        <ul class="thumbnails">
          {{#photos}}
            <li class="span2">
              <a href="{{s3_screen_filename}}" class="thumbnail">
                <img alt="160x120" src="{{s3_thumb_filename}}">
              </a>
            </li>
          {{/photos}}
        </ul>
        <hr />
      {{/markers}}
    </div>
    <div class="span4">
      <ul class="well nav nav-list">
        <li><a href="{{urls.map}}">View on map</a></li>
        <li><a href="{{urls.share}}">Share route</a></li>
        <!-- <li><a href="#">Fork this route</a></li> -->
      </ul>
    </div>
  </div>
</div>