<div class="modal-signin">
  <p>Please sign in before using MapRoute:</p>
  <div class="well">
    <a href="{{google_login}}" class="btn btn-primary btn-block btn-large">
      Sign in with Google &raquo;
    </a>
    <a href="{{facebook_login}}" class="btn btn-primary btn-block btn-large">
      Sign in with Facebook &raquo;
    </a>
    <!--<a href="{{yahoo_login}}" class="btn btn-primary btn-block btn-large">
      Sign in with Yahoo &raquo;
    </a>-->
  </div>
</div>