<div style="text-align: center">
  <p>Please sign in before using MapRoute:</p>
  <p>
    <a href="{{google_login}}" class="btn btn-primary btn-large">
      <i class="icon-google-plus"></i>
      Sign in with Google &raquo;
    </a>
  </p>
</div>