/* Base
 *****************/
/* line 4, ../sass/_base.scss */
html {
  height: 100%;
}

/* line 7, ../sass/_base.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Map Canvas
 *****************/
/* line 3, ../sass/_map.scss */
.map {
  height: 100%;
  width: 100%;
}
/* line 8, ../sass/_map.scss */
.map img {
  max-width: none;
  width: auto;
  display: inline;
  top: 0;
}
/* line 15, ../sass/_map.scss */
.map .message {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -1em;
}
/* line 23, ../sass/_map.scss */
.map .has-js {
  display: none;
}

/* Javascript enabled
 *****************/
/* line 33, ../sass/_map.scss */
.js .map .no-js {
  display: none;
}
/* line 36, ../sass/_map.scss */
.js .map .has-js {
  display: block;
}

/* Toolbar
 *****************/
/* line 3, ../sass/_toolbar.scss */
.toolbar {
  margin: 0;
  position: absolute;
  z-index: 1000;
  top: 6px;
  left: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
  border-radius: 4px;
  display: none;
}
/* line 14, ../sass/_toolbar.scss */
.toolbar button {
  padding-bottom: 0;
  padding: 5px 12px 1px 12px;
}
/* line 19, ../sass/_toolbar.scss */
.toolbar button [class^="icon-"] {
  font-size: 21px;
  line-height: 21px;
}
/* line 24, ../sass/_toolbar.scss */
.toolbar .tooltip {
  font-size: 12px;
}

/* Buttons
 *****************/
/* line 3, ../sass/_buttons.scss */
.btn-large [class^="icon-"] {
  font-size: 17.5px;
  line-height: 17.5px;
}

/* Temporary fix for tooltips in button groups messing with margins */
/* line 9, ../sass/_buttons.scss */
.btn-group > .tooltip + .btn {
  margin-left: -1px;
}
