/* line 3, ../sass/signin.scss */
html {
  height: 100%;
}

/* line 6, ../sass/signin.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/signin.scss */
.navbar-inner {
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  filter: none;
  background: #EEE;
  border: 0;
  border-bottom: 1px solid #CCC;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 27, ../sass/signin.scss */
.navbar .brand {
  font: 600 20px/65px Segoe UI Light, Segoe UI, Helvetica, Arial, sans-serif;
  color: #111;
  text-shadow: 0 1px 0 white;
  padding: 0;
  margin-left: 0;
}
/* line 35, ../sass/signin.scss */
.navbar .nav {
  float: right;
  display: inline-block;
}
/* line 39, ../sass/signin.scss */
.navbar .nav li {
  margin-left: 15px;
  line-height: 48px;
}

/* line 46, ../sass/signin.scss */
.header {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  background: url("../img/headbg.png");
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.9) 0 14px 26px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.9) 0 14px 26px 0;
  box-shadow: inset rgba(0, 0, 0, 0.9) 0 14px 26px 0;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  height: 370px;
}
/* line 60, ../sass/signin.scss */
.header h3,
.header h2,
.header h4,
.header p {
  text-shadow: none;
  color: #EAEAEA;
}
/* line 65, ../sass/signin.scss */
.header h3 {
  margin: 0 0 15px;
  font: 24px/39px Segoe UI, Helvetica, Arial, sans-serif;
}
/* line 70, ../sass/signin.scss */
.header .btn {
  font-size: 21px;
  margin-top: 12px;
}

/* line 76, ../sass/signin.scss */
#signin-buttons {
  opacity: 0;
  margin-top: 6px;
}

@media (min-width: 1200px) {
  /* line 83, ../sass/signin.scss */
  .navbar-inner .container,
  .container {
    width: 940px;
  }

  /* line 86, ../sass/signin.scss */
  .span4 {
    width: 300px;
  }

  /* line 89, ../sass/signin.scss */
  .span7 {
    width: 540px;
  }

  /* line 92, ../sass/signin.scss */
  .offset1 {
    margin-left: 100px;
  }
}
