/* style.css */

html { 
  height: 100%; 
}
body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

/* Map */
#map-canvas { 
  height: 100%;
  width: 100%;
}

#map-canvas img {
  max-width: none;
  width: auto; 
  display: inline;
}

#map-canvas .message {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -1em;
}

#map-canvas .has-js,
.js #map-canvas .no-js {
  display: none;
}

.js #map-canvas .has-js {
  display: block;
}

/* Toolbar */
.toolbar {
  margin: 0;
  position: absolute;
  z-index: 1000;
  top: 6px;
  left: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
  border-radius: 4px;
}
.toolbar button [class^="icon-"] {
  font-size: 24px;
  line-height: 24px;

}

.btn-large [class^="icon-"] {
  font-size: 17.5px;
  line-height: 17.5px;
}
