/* Toolbar
 *****************/
/* line 3, ../sass/toolbar.scss */
.toolbar {
  margin: 0;
  position: absolute;
  z-index: 1000;
  top: 6px;
  left: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
  border-radius: 4px;
  display: none;
}
/* line 14, ../sass/toolbar.scss */
.toolbar button {
  padding-bottom: 0;
}
/* line 18, ../sass/toolbar.scss */
.toolbar button [class^="icon-"] {
  font-size: 24px;
  line-height: 24px;
}
