<div class="navbar" style="margin:0">
  <div class="navbar-inner">
    <div class="container">            
      <a href="/" class="brand">MapRoute <i class="m-icon-big-win8"></i></a>       
      <ul class="nav">
        <li><a href="/">Sign in</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>            
    </div>
  </div>
</div>

<header class="header">    
  <div class="container">    
    <div class="row" style="position:relative">
      <div id="signin-message">
        <div class="span4">
          <h3>About MapRoute</h3>
          <p>Some information here...</p>   
        </div>
        <div class="offset1 span7" style="position:relative">        
          <img src="/assets/img/tablet_new.png" width="540" height="351" alt="MapRoute google map">
        </div>
      </div>

    </div>       
  </div>
</header>