{{{navigation}}}

<header class="header">
  <div class="container">
    <div class="row" style="position:relative">
      <div id="signin-message">
        <div class="span4">
          <h3>Contact</h3>
          <p>Some information here...</p>
        </div>
        <div class="offset1 span7" style="position:relative">
          <img src="/assets/img/tablet_new.png" width="540" height="351" alt="MapRoute google map">
        </div>
      </div>

    </div>
  </div>
</header>