<!-- Map canvas -->
<div id="map-canvas" class="map">
  <div class="message">
    <div class="has-js">
      Loading map...
    </div>
    <div class="no-js">
      <strong>You need to enable Javascript in your browser to use this application.</strong>
    </div>
  </div>
</div>

<!-- Layout -->
<div 
  id="toolbar" 
  data-bind="template: { name: 'toolbar-template' }">
</div>
<div 
  id="modal" 
  data-bind="template: { name: 'modal-template' }">
</div>
<div
  id="search"
  data-bind="template: { name: 'search-template' }">
</div>

<!-- Templates -->
<script type="text/html" id="toolbar-template">
{{>toolbar}}
</script>
<script type="text/html" id="modal-template">
{{>modal}}
</script>
<script type="text/html" id="modal-edit-marker">
{{>modal/marker/edit}}
</script>
<script type="text/html" id="modal-login">
{{>modal/login}}
</script>
<script type="text/html" id="modal-share">
{{>modal/share}}
</script>
<script type="text/html" id="map-infowindow-edit-template">
{{>infowindow/edit}}
</script>
<script type="text/html" id="map-infowindow-view-template">
{{>infowindow/view}}
</script>
<script type="text/html" id="search-template">
{{>search}}
</script>