{{{navigation}}}

<div class="container">
<br/>
    <ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li>Routes</a> </li>
  </ul>

  <h1>Routes</h1>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      {{#routes}}
      <tr>
        <td><a href="/routes/view/{{id}}">{{title}}</a></td>
        <td>{{user.name}}</td>
      </tr>
      {{/routes}}
    </tbody>
  </table>
<!--
  <div style="text-align:center">
    <button class="btn  btn-large">Create a route!</button>
  </div> -->
</div>