{{{navigation}}}

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      {{#routes}}
      <tr>
        <td><a href="/routes/view/{{id}}">{{title}}</a></td>
        <td>{{user.name}}</td>
      </tr>
      {{/routes}}
    </tbody>
  </table>
</div>