<div id="main-container" class="container">
  <div
    class="navbar navbar-inner"
    id="navbar"
    data-bind="template: { name: 'navbar-template' }, fadeIn: 50">
  </div>
  <div id="map-canvas" class="map">
  </div>
  <aside
    class="sidebar"
    id="sidebar"
    data-bind="template: { name: 'sidebar-template' }, fadeIn: 100">
  </aside>
</div>
<div
  id="modal"
  data-bind="template: { name: 'modal-template' }">
</div>