<div id="main-container" class="container">
  <div
    class="navbar navbar-inner"
    id="navbar"
    data-bind="template: { name: 'navbar-template' }, fadeIn: { speed: 50 }">
  </div>
  <div id="map-canvas" class="map">
  </div>
  <aside
    class="sidebar"
    id="sidebar"
    data-bind="template: { name: 'sidebar-template' }, fadeIn: { speed: 100, callback: function() { $(this).css('display', 'table') } }">
  </aside>
</div>
<div
  id="modal"
  data-bind="template: { name: 'modal-template' }">
</div>