{{#coming_soon}}
<footer>
  <a href="/contact">Contact</a> |
  <a href="/about">About</a>
</footer>
{{{scripts}}}
{{/coming_soon}}
{{^coming_soon}}
{{{scripts}}}
<script>
MapRoute.init({{{app_config}}});
</script>
{{/coming_soon}}