<div class="info-window">
  <div>
    <!-- ko if: title --><strong data-bind="text: title"></strong><!-- /ko -->
    <!-- ko ifnot: title -->&nbsp;<!-- /ko -->
  </div>
  <p data-bind="html: description"></p>
  <a href="#" class="add-description">
    <i class="icon-edit"></i> 
    Edit
  </a>
  |
  <a href="#" class="remove-pin">
    <i class="icon-remove"></i> Remove
  </a>
</div>