<div class="navbar">
  <div class="navbar-inner">

    {{>navbar/dropmenu}}
    
    <!-- Toolbar -->
    <div 
      id="toolbar" 
      data-bind="template: { name: 'toolbar-template' }">
    </div>
  </div>
</div>