
<!-- Dropmenu -->
<div 
  id="dropmenu" 
  data-bind="template: { name: 'dropmenu-template' }">
</div>

<!-- Toolbar -->
<div 
  id="toolbar" 
  data-bind="template: { name: 'toolbar-template' }">
</div>
