<div class="dropmenus pull-right">

  <!-- Routes Dropmenu -->
  <div
    id="dropmenu-routes"
    class="pull-left"
    data-bind="template: { name: 'dropmenu-routes-template' }">
  </div>

  <!-- User Dropmenu -->
  <div
    id="dropmenu-user"
    class="pull-left"
    data-bind="template: { name: 'dropmenu-user-template' }">
  </div>
</div>

<!-- Toolbar -->
<div
  id="toolbar"
  data-bind="template: { name: 'toolbar-template' }">
</div>
