<h1>
  MapRoute
</h1>
<div class="search input-append">
  <input class="input-block-level" id="search-input" type="text" placeholder="Search for a place...">
</div>

<ul class="nav nav-tabs" id="sidebar-tabs">
  <li class="active"><a href="#sidebar-route">Route</a></li>
  <li><a href="#sidebar-pins">Pins</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="sidebar-route">
    <ul class="nav nav-pills nav-stacked" data-bind="foreach: route">
      <li>
        <a href="#" data-bind="text: model.route_title"></a>
      </li>
    </ul>
  </div>
  <div class="tab-pane" id="sidebar-pins">
    <!-- <ul class="nav nav-pills nav-stacked" data-bind="foreach: markers">
      <li>
        <a href="#" data-bind="text: title"></a>
      </li>
    </ul> -->
  </div>
</div>