<script type="text/html" id="container-template">
{{>container}}
</script>
<script type="text/html" id="toolbar-template">
{{>toolbar}}
</script>
<script type="text/html" id="modal-template">
{{>modal}}
</script>
<script type="text/html" id="modal-edit-marker">
{{>modal/marker/edit}}
</script>
<script type="text/html" id="modal-share">
{{>modal/share}}
</script>
<script type="text/html" id="modal-profile">
{{>modal/profile}}
</script>
<script type="text/html" id="map-infowindow-edit-template">
{{>infowindow/edit}}
</script>
<script type="text/html" id="map-infowindow-view-template">
{{>infowindow/view}}
</script>
<script type="text/html" id="sidebar-template">
{{>sidebar}}
</script>
<script type="text/html" id="navbar-template">
{{>navbar}}
</script>
<script type="text/html" id="dropmenu-routes-template">
{{>navbar/dropmenu.routes}}
</script>
<script type="text/html" id="dropmenu-user-template">
{{>navbar/dropmenu.user}}
</script>