<div data-bind="with: toolbar">
  <span class="toolbar-label">
      Actions:
  </span>
  <div role="toolbar" class="toolbar btn-toolbar">
    <div class="btn-group {{#is_mobile}}btn-group-vertical{{/is_mobile}}" data-bind="foreach: buttons">
      <button 
        data-bind="attr: { 
          'class': 'btn ' + className() + (action.active() ? ' active' : ''), 
          'data-original-title': caption() 
        }, click: $parent.onButtonClick" 
        data-placement="bottom" 
        rel="tooltip">  
        <i data-bind="attr: { 'class': iconClassName() }" />
      </button>
    </div>
  </div>
</div>