<div class="container">
  <form 
    class="form-signin form-inline" 
    action="http://maproute.us6.list-manage.com/subscribe/post?u=fd7dfb021a7cf3cbb555bbfd2&amp;id=080bf6685a" 
    method="post" 
    target="_blank" 
    novalidate>
    <h2 class="form-signin-heading">MapRoute.cc</h2>
    <p>Enter your email to get notified when we launch.</p>
    <div class="well">
      <input type="email" class="input-large" name="EMAIL" placeholder="Email address"> 
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>