<div class="map-loading-message" id="map-loader">
  <div class="has-js">
    <img src="/assets/img/ajax-loader-large.gif" alt="Loading..." width="120" height="120" />
  </div>
  <div class="no-js">
    <strong>You need to enable Javascript in your browser to use this application.</strong>
  </div>
</div>