<div class="info-window">
  <!-- ko if: !title() && !description() -->
    <p><em>(No description.)</em></p>
  <!-- /ko -->
  <!-- ko if: title() || description() -->
     <div>
      <strong data-bind="text: title"></strong>
    </div>
    <p data-bind="html: description"></p>
  <!-- /ko -->
</div>