@media (min-width: 1200px) {
  .navbar-inner .container,
  .container {
     width: 940px;
  }
  .span4 {
    width: 300px;
  }
  .span7 {
    width: 540px;
  }
  .offset1 {
    margin-left: 100px;
  }
}