.navbar-inner {
  background: transparent;
  @include box-shadow(none);
  filter: none;
  background: #EEE;
  border: 0;
  border-bottom: 1px solid #CCC;
  @include border-radius(0);
}

.navbar {

  .brand {
    font: 600 20px/60px Segoe UI Light,Segoe UI,Helvetica,Arial,sans-serif;
    color: #111;
    text-shadow: 0 1px 0 white;
    padding: 0;
    margin-left: 0;
  }

  .nav {
    float: right;
    display: inline-block;

    li {
      margin-left: 15px;
      line-height: 48px;

      a {
        padding: 7px 15px;
      }
    }
  }
}