.photo-thumbnails {
  margin-left: -15px;
  li {
    width: 90px;
    margin-left: 15px;
  }
  a {
    position: relative;
    width: 90px;
    height: 80px;
     display: table-cell;
    vertical-align: middle
  }
  span {

    position: absolute;
    bottom: 2px;
    right: 3px;
    width: 36px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    @include border-top-left-radius(3px);
    background: rgba(255,255,255,.8);

    i {
      color: #222;
      float: left;
      @include opacity(0.8);
      &:first-child {
        margin-left: 1px;
      }
      &:hover {
        @include opacity(1);
      }
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}