/* Sidebar
 *****************/

.sidebar {

  width: 292px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color:#fafafa;
  background-image:-moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image:-webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image:-o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image:linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  border-right: 1px solid #a5a5a5;
  @include box-shadow(rgba(0, 0, 0, 0.3) 6px -5px 12px -1px);

  h1 {
    font-family: 'Orbitron', sans-serif;
    padding: 0 0 0 8px;
    margin: 0 0 14px 0;
    font-size: 26px;
    line-height: 45px;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    color: #222;
    height: 45px;
  }
}