/* Sidebar
 *****************/

.sidebar {

  width: 292px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #a5a5a5;
  @include box-shadow(rgba(0, 0, 0, 0.3) 6px -5px 12px -1px);
  display: table;

  .row {
    display: table-row;
    &:last-child {
      height: 100%;
    }
  }

  h1 {
    font-family: 'Orbitron', sans-serif;
    padding: 0 0 0 8px;
    margin: 0 0 14px 0;
    font-size: 26px;
    line-height: 45px;
    border: 0;
    border-bottom: 1px solid #e9e9e9;
    color: #222;
    height: 46px;
  }

  .tab-content {
    height: 100%;
  }
}
