/* Toolbar
 *****************/
.toolbar {

  margin: 0;
  position: absolute;
  z-index: 1000;
  top: 6px;
  left: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
  border-radius: 4px;
  display: none;

  button {
    padding-bottom: 0;
    padding: 5px 12px 1px 12px;
  }

  button [class^="icon-"] {
    font-size: 21px;
    line-height: 21px;
  }

  .tooltip {
    font-size: 12px;
  }
}