/* Toolbar
 *****************/
.toolbar {

  border-radius: 4px;
  display: none;
  text-align: center;
  display: inline-block;
  margin: 0;

  button {
    /*padding-bottom: 0;*/
    /*padding: 7px 12px 4px 12px;*/
  }

  .btn-group > button {
    font-size: 18px;
  }

  .tooltip {
    font-size: 12px;
  }
}

.toolbar-label {
  display: inline-block;
  padding-top: 11px;
  padding-right: 5px;
  margin-left: -100px;
  vertical-align: middle;
}
